/*=====================SKIDKA====================*/
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=====================SKIDKA====================*/
/*=====================ZAGALNI====================*/
.body-style {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*=====================ZAGALNI====================*/
/*=====================HEADER====================*/

.conteyner-lite-header {
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 149px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.btb-burger {
  line-height: 0;
  padding: 0;
  display: block;
}

.header-list-nav {
  display: none;
}

.header-address {
  display: none;
}

/*=====================HEADER====================*/
/*====================SECTION 1==================*/
.section-hero {
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/image/mobile/hero/Dark-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi){
.section-hero{
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/image/mobile/hero/Dark-bg-mobile@2x.jpg);
}
}

.hero-h-one {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
  max-width: 216px;
  height: 160px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border-radius: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
/*====================SECTION 1==================*/
/*====================SECTION 2==================*/
.info {
  padding-top: 96px;
  padding-bottom: 96px;
}
.info-list {
  display: flex;
  flex-wrap: wrap;
}
.info-svg {
  display: none;
}
.info-h-tree {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-align: center;
}
.info-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*====================SECTION 2==================*/

/*====================SECTION 3==================*/
.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #f4f4fd;
}



.team-h-two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-li {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-team {
  margin-left: auto;
  margin-right: auto;
}

.team-div {
  padding: 32px 0px;
}

.team-h-tree {
  margin-bottom: 8px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-p {
  text-align: center;
  margin-bottom: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-socseti-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}



.team-socseti-a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg {
  fill: #ffffff;
}

.team-socseti-a:hover,
.team-socseti-a:focus {
  background-color: #404bbf;
}

/*====================SECTION 3==================*/
/*====================SECTION 4==================*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}



.portfolio-h-two {
  margin-bottom: 72px;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.portfolio-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overley-div {
  position: relative;
  overflow: hidden;
}

.portfolio-photo {
  height: 280px;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overley-div:hover .overley {
  transform: translateY(0%);
}

.portfolio-div {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-h-tree {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*====================SECTION 4==================*/
/*======================FOOTER===================*/

.footer-page {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #2e2f42;
}





.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 72px;
  
}



.footer-socseti-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-socseti-ul {
  gap: 16px;
  margin-bottom: 72px;
}






.footer-form-p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}





::placeholder {
  color: #ffffff;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2e2f42;
  border: solid 1px #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  margin-bottom: 16px;
  color: #fff;
}

.footer-form-btn {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.svg-btn-footer {
  fill: #fff;
  margin-left: 16px;
}

/*======================FOOTER===================*/

/*====================MOMILE-MENU=================*/
.mobile-menu{
position: fixed;
left: 0;
top: 0;
background-color: #ffffff;
width: 100%;
height: 100%;
overflow-y: auto;

transform: translateX(100%);
transition: transform 1sec cubic-bezier(0.19, 1, 0.22, 1) ;

}

.is-open{
 transform: translateX(0%);
}

.momile-div{
 position: relative;
padding-top: 72px;
padding-bottom: 40px;
 
}

.clouse-btb{
padding: 0;
line-height: 0;
border-radius: 50px;
background-color: #ffffff;
position: absolute;
top: 24px;
right: 24px;


}



.mobile-nav{
  margin-bottom: 168px;
}

.mobile-list{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}




.mobile-link{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-link:hover,
.mobile-link:focus{
  color: #404bbf;
}



.mobile-li-address:not(:last-child){
  margin-bottom: 24px;
}

.mobile-link-address{
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
}

.mobile-link-address:hover,
.mobile-link-address:focus{
  color: #4d5ae5;;
}

 .mobile-socseti{
  margin-top: 48px;
 }

.mobile-socseti-ul{
  margin-bottom: 0;
 justify-content: left;
 gap: 40px;
}  
 
/*====================MOMILE-MENU=================*/

/*======================MODALKA==================*/

.backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(27, 26, 26, 0.842);
  z-index: 9999999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal{
  width: 288px;
  min-height: 623px;
  background-color:#fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 72px 16px 24px 16px; 

 
}

.close-btn{
line-height: 0;
border-radius: 50%;
position: absolute;
top: 24px;
right: 24px;
display: flex;
align-items: center;
justify-content: center;
height: 24px;
width: 24px;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-btb-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 


.close-btn:hover,
.close-btn:focus{
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}


.modal-p{
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom:16px;


}
 
.div-four-input{
  
  margin-bottom: 8px;
}

.label-four-input{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;



}

.div-four-icon-center{
  position: relative;
}

.modal-input{
  width: 100%;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  height: 40px;
  padding-left: 34px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  border-color: #4D5AE5;
  outline: transparent;
  
}

.modal-input:focus+.modal-icon{
  fill: #4D5AE5;
}

.modal-icon{
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-four-input-texteria{
  margin-bottom: 16px;
}

.modal-textarea{
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.modal-textarea:focus{
  border-color: #4D5AE5;
}

.div-four-input-chek{
  margin-bottom: 24px;
}



.label-four-input-chek{
  font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
letter-spacing: 0.04em;
color: #8e8f99;
line-height: 1.17;

}

.privacy-policy-link{
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color:  #4d5ae5;
margin-top: 24px;

  }

  .span-chek{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content:center;
    fill: transparent;
  }


.modal-input-chek:checked + .label-four-input-chek .span-chek{
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.send-btn{
  border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
color: #ffffff;
display: block;
margin: 0 auto;

font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*======================MODALKA==================*/

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /*=====================HEADER====================*/
  .conteyner-lite-header {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-list-nav {
    display: flex;
    gap: 40px;
  }

  .header-link-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current {
    position: relative;
  }

  .current::after {
    content: "";
    background-color: #404bbf;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-link-address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    color: #434455;

    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-nav:hover,
  .header-link-nav:focus {
    color: #404bbf;
  }

  .header-link-address:hover,
  .header-link-address:focus {
    color: #404bbf;
  }

  .btb-burger {
    display: none;
  }

  /*=====================HEADER====================*/
  /*====================SECTION 1==================*/
  .section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
 
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/image/tablet/hero/Dark-bg-tablet.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi){
 .section-hero{
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/image/tablet/hero/Dark-bg-tablet@2x.jpg);
 }
  }

  .hero-h-one {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
  }
  /*====================SECTION 1==================*/
  /*====================SECTION 2==================*/
  .info-list {
    gap: 72px 24px;
  }

  .info-h-tree {
    text-align: left;
  }

  .info-li {
    width: calc((100% - 24px) / 2);
  }

  /*====================SECTION 2==================*/

  /*====================SECTION 3==================*/

  .team-list {
    display: flex;
    flex-direction: row;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /*====================SECTION 3==================*/
  /*====================SECTION 4==================*/


  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }

 

  .portfolio-photo {
    height: 300px;
  }

  /*====================SECTION 4==================*/
  /*======================FOOTER===================*/


  .flex-page {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .div-logo {
    margin-left: 108px;
    width: 264px;
    height: 112px;
  }



  .footer-p {
    margin-bottom: 0;
  }

  .footer-socseti {
    width: 208px;
    height: 80px;
  }



  .footer-socseti-a:hover,
  .footer-socseti-a:focus {
    background-color: #31d0aa;
  }



  .div-footer-form {
    margin-left: 108px;
  }

  .footer-form-p {
    text-align: left;
  }

  .footer-form {
    display: flex;
    column-gap: 24px;
  }



  .footer-form-input {
    width: 264px;
    margin-bottom: 0;
  }


  /*======================FOOTER===================*/
  /*======================MODALKA==================*/
.modal{
  width: 408px;
 min-height: 584px;
 padding: 72px 24px 24px 24px;
}
.modal-textarea{
  width: 360px;
}

  /*======================MODALKA==================*/
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*=====================HEADER====================*/

  .header-logo {
    margin-right: 76px;
  }

  .header-list-address {
    flex-direction: row;
    gap: 40px;
  }

  .header-link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /*=====================HEADER====================*/

  /*====================SECTION 1==================*/
  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/image/desctop/hero/people-office-desctop.jpg);
  }
  .hero-h-one {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1158px) and (min-resolution: 192dpi){
.section-hero{
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/image/desctop/hero/people-office-desctop@2x.jpg);
}
  }
  /*====================SECTION 1==================*/
  /*====================SECTION 2==================*/
  .info {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .info-list {
    flex-wrap: nowrap;
  }


  .info-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .info-svg {
    display: inline-block;
  }

  .info-h-tree {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .info-p {
    font-weight: 400;
  }

  /*====================SECTION 2==================*/

  /*====================SECTION 3==================*/
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-li {
    width: calc((100% - 72px) / 4);
  }

  /*====================SECTION 3==================*/
  /*====================SECTION 4==================*/
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

 

  .portfolio-list {
    column-gap: 24px;
    row-gap: 40px;
  }

  .portfolio-li {
    width: calc((100% - 48px) / 3);
  }


  /*====================SECTION 4==================*/
  /*======================FOOTER===================*/
  .footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flex-page {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    column-gap: 0px;
    row-gap: 0px;
  }

  .div-logo {
    margin-left: 0px;
    margin-right: 120px;
  }



  .footer-socseti {
margin-right: 80px;
    
  }



  .footer-socseti-a:hover,
  .footer-socseti-a:focus {
    background-color: #31d0aa;
  }



  .div-footer-form {
    margin-left: 0px;
    height: 80px;
  }

  /*======================FOOTER===================*/
}
